<div class="account-page">
	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<header class="header">
			<nav class="navbar navbar-expand-lg header-nav">
				<div class="navbar-header">
					<a id="mobile_btn" href="javascript:void(0);">
						<span class="bar-icon">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</a>
					<a href="index-2.html" class="navbar-brand logo">
						<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
					</a>
				</div>
				<!-- <div class="main-menu-wrapper">
					<div class="menu-header">
						<a href="index-2.html" class="menu-logo">
							<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
						<a id="menu_close" class="menu-close" href="javascript:void(0);">
							<i class="fas fa-times"></i>
						</a>
					</div>
					<ul class="main-nav">
						<li>
							<a href="index-2.html">Home</a>
						</li>
						<li class="has-submenu">
							<a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
							<ul class="submenu">
								<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
								<li><a href="appointments.html">Appointments</a></li>
								<li><a href="schedule-timings.html">Schedule Timing</a></li>
								<li><a href="my-patients.html">Patients List</a></li>
								<li><a href="patient-profile.html">Patients Profile</a></li>
								<li><a href="chat-doctor.html">Chat</a></li>
								<li><a href="invoices.html">Invoices</a></li>
								<li><a href="doctor-profile-settings.html">Profile Settings</a></li>
								<li><a href="reviews.html">Reviews</a></li>
								<li><a href="doctor-register.html">Doctor Register</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">Patients <i class="fas fa-chevron-down"></i></a>
							<ul class="submenu">
								<li><a href="search.html">Search Doctor</a></li>
								<li><a href="doctor-profile.html">Doctor Profile</a></li>
								<li><a href="booking.html">Booking</a></li>
								<li><a href="checkout.html">Checkout</a></li>
								<li><a href="booking-success.html">Booking Success</a></li>
								<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
								<li><a href="favourites.html">Favourites</a></li>
								<li><a href="chat.html">Chat</a></li>
								<li><a href="profile-settings.html">Profile Settings</a></li>
								<li><a href="change-password.html">Change Password</a></li>
							</ul>
						</li>
						<li class="has-submenu active">
							<a href="#">Pages <i class="fas fa-chevron-down"></i></a>
							<ul class="submenu">
								<li><a href="voice-call.html">Voice Call</a></li>
								<li><a href="video-call.html">Video Call</a></li>
								<li><a href="search.html">Search Doctors</a></li>
								<li><a href="calendar.html">Calendar</a></li>
								<li><a href="components.html">Components</a></li>
								<li class="has-submenu">
									<a href="invoices.html">Invoices</a>
									<ul class="submenu">
										<li><a href="invoices.html">Invoices</a></li>
										<li><a href="invoice-view.html">Invoice View</a></li>
									</ul>
								</li>
								<li><a href="blank-page.html">Starter Page</a></li>
								<li><a href="login.html">Login</a></li>
								<li class="active"><a href="register.html">Register</a></li>
								<li><a href="forgot-password.html">Forgot Password</a></li>
							</ul>
						</li>
						<li>
							<a href="admin/index.html" target="_blank">Admin</a>
						</li>
						<li class="login-link">
							<a href="login.html">Login / Signup</a>
						</li>
					</ul>
				</div> -->
				<ul class="nav header-navbar-rht">
					<li class="nav-item contact-item">
						<div class="header-contact-img">
							<i class="far fa-hospital"></i>
						</div>
						<div class="header-contact-detail">
							<p class="contact-header">Contact</p>
							<p class="contact-info-header"> +1 315 369 5943</p>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link header-login" href="login.html">login / Signup </a>
					</li>
				</ul>
			</nav>
		</header>
		<!-- /Header -->

		<!-- Page Content -->
		<div class="content">
			<div class="container-fluid">

				<div class="row">
					<div class="col-md-8 offset-md-2">
						<!-- Register Content -->
						<div class="account-content">
							<div class="row align-items-center justify-content-center">
								<!-- <div class="col-md-7 col-lg-6 login-left ">
									<img src="assets/img/login-banner.png" class="img-fluid" alt="Doccure Register">
								</div> -->
								<div class="col-md-12 col-lg-12 login-right mt-5">
									<div class="login-header">
										<h4>Expert Register <a routerLink="/regcp">
												<span>Register as a company?</span></a></h4>
									</div>

									<!-- Form -->
									<!-- action="https://dreamguys.co.in/demo/doccure/admin/login.html" -->
									<form [formGroup]="registrationForm">
										<div class="col-md-3">
											<div class="form-control-feedback">
												<ng-container
													*ngIf="formControls.email.errors?.taken && formControls.email.touched">
													<span class="text-danger align-middle">
														<i class="fa fa-close"> Email Already Taken</i>
													</span>
												</ng-container>
												<ng-container
													*ngIf="formControls.email.pending && formControls.email.touched">
													<span class="text-info align-middle">
														<i class="fa fa-hourglass"> Checking Email ....</i>
													</span>
												</ng-container>
												<ng-container
													*ngIf="!formControls.email.errors && formControls.email.touched && !formControls.email.pending">
													<span class="text-success align-middle">
														<i class="fa fa-check"> Email Available</i>
													</span>
												</ng-container>
												<ng-container
													*ngIf="formControls.email.errors?.required && formControls.email.touched">
													<span class="text-danger align-middle">
														<i class="fa fa-close"> Email Required</i>
													</span>
												</ng-container>

											</div>
										</div>
										<div class=" col-md-12 offset-2">
											<div class="form-group">
												<input class="form-control col-4" type="text" placeholder="Username"
													id="username" formControlName="username" required>
												<input class="form-control col-4" type="date" id="bday"
													formControlName="bday" required (change)="ageCalc()">
											</div>
										</div>
										<!-- <div *ngIf="!registrationForm.controls['username'].valid">
											<label class="validation-message">This field is required.</label>
										</div> -->
										<!-- <div class="form-group">
											<input class="form-control" type="text" placeholder="Name" id="firstname"
												formControlName="fname" required>
										</div>
										<div class="form-group">
											<input class="form-control" type="text" placeholder="Lastname" id="lastname"
												formControlName="lname" required>
										</div> -->
										<div class=" col-md-4 px-md-1 offset-4">
											<div class="form-group">
												<input class="form-control" type="email" placeholder="Email" id="email"
													formControlName="email" required [pattern]="emailPattern"
													[ngClass]="{'invalid-textbox' :!registrationForm.controls['email'].valid }">
											</div>
										</div>
										<div *ngIf="registrationForm.controls['email'].errors">
											<!-- <label *ngIf="registrationForm.controls['email'].errors.required" class="validation-message">This field is required.</label> -->
											<label *ngIf="registrationForm.controls['email'].errors.pattern"
												class="validation-message">Invalid email address.</label>
										</div>
										<div *ngIf="registrationForm.controls['password'].errors">
											<!-- <label *ngIf="registrationForm.controls['password'].errors.required" class="validation-message">This field is required.</label> -->
											<label *ngIf="ageCalc() !== true"
												class="validation-message">{{inValidMessage}}</label>
										</div>

										<div class=" col-md-12 offset-2">
											<input class="form-control col-4" type="text" placeholder="Password"
												id="password" formControlName="password" required minlength="6"
												[ngClass]="{'invalid-textbox' :!registrationForm.controls['password'].valid }">

											<input class="form-control col-4" type="text" placeholder="Confirm Password"
												id="confirmPassword" formControlName="confirmPassword" required>
										</div>

										<div *ngIf="registrationForm.controls['password'].errors">
											<!-- <label *ngIf="registrationForm.controls['password'].errors.required" class="validation-message">This field is required.</label> -->
											<label *ngIf="registrationForm.controls['password'].errors.minlength"
												class="validation-message">Enter atleast 6 characters.</label>
										</div>

										<div class="form-group">
											<select class="selectpicker" id="mySelect" data-style="btn-primary"
												class="form-control" data-live-search="true" formControlName="specialty"
												(change)="changeSpec($event)">
												<option value="">--Please choose a specialty--</option>
												<option *ngFor="let spec of specialities" [ngValue]="spec?._id">
													{{spec?.title}}</option>
											</select>

										</div>
										<div class="form-group mb-0">
											<input class="btn btn-primary btn-block" type="button" value="Register"
												(click)="registerUser()">
										</div>

										<!-- <div class="text-right">
											<a class="forgot-link" href="login.html">Already have an account?</a>
										</div>
										<button class="btn btn-primary btn-block btn-lg login-btn "
											type="submit">Signup
										</button> -->

										<div class="login-or">
											<span class="or-line"></span>
											<span class="span-or">or</span>
										</div>
										<div class="row form-row social-login">
											<div class="col-6">
												<a href="#" class="btn btn-facebook btn-block"><i
														class="fab fa-facebook-f mr-1"></i> Login</a>
											</div>
											<div class="col-6">
												<a href="#" class="btn btn-google btn-block"><i
														class="fab fa-google mr-1"></i> Login</a>
											</div>
										</div>
									</form>
									<!-- /Form -->

								</div>
							</div>
						</div>
						<!-- /Register Content -->


					</div>
				</div>

			</div>

		</div>
		<!-- /Page Content -->

		<!-- Footer -->
		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->
</div>