<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <div class="header">

        <!-- Logo -->
        <div class="header-left">
            <a href="javascript:void(0);" class="logo mt-2">
                <!-- <img src="assets/adimgs/logo.png" alt="Logo"> -->
                <h2>Expert'<span class="ml-2">ease</span></h2>
            </a>
            <a href="javascript:void(0);" class="logo logo-small">
                <h2>Expert'ease</h2>
            </a>
        </div>
        <!-- /Logo -->

        <a href="javascript:void(0)" id="toggle_btn">
            <i class="fe fe-text-align-left"></i>
        </a>

        <div class="top-nav-search">
            <form>
                <input type="text" class="form-control" placeholder="Search here">
                <button class="btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <!-- Mobile Menu Toggle -->
        <a class="mobile_btn" id="mobile_btn">
            <i class="fa fa-bars"></i>
        </a>
        <!-- /Mobile Menu Toggle -->

        <!-- Header Right Menu -->
        <ul class="nav user-menu">

            <!-- Notifications -->
            <li class="nav-item dropdown noti-dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>
                </a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span class="notification-title">Notifications</span>
                        <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                    </div>
                    <div class="noti-content">
                        <ul class="notification-list">
                            <li class="notification-message">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <span class="avatar avatar-sm">
                                            <img class="avatar-img rounded-circle" alt="User Image"
                                                src="assets/adimgs/doctors/doctor-thumb-01.jpg">
                                        </span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Dr. Ruby Perrin</span>
                                                Schedule <span class="noti-title">her appointment</span></p>
                                            <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <span class="avatar avatar-sm">
                                            <img class="avatar-img rounded-circle" alt="User Image"
                                                src="assets/adimgs/patients/patient1.jpg">
                                        </span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Charlene Reed</span> has
                                                booked her appointment to <span class="noti-title">Dr. Ruby
                                                    Perrin</span></p>
                                            <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media">
                                        <span class="avatar avatar-sm">
                                            <img class="avatar-img rounded-circle" alt="User Image"
                                                src="assets/adimgs/patients/patient2.jpg">
                                        </span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Travis Trimble</span> sent
                                                a amount of $210 for his <span class="noti-title">appointment</span></p>
                                            <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media">
                                        <span class="avatar avatar-sm">
                                            <img class="avatar-img rounded-circle" alt="User Image"
                                                src="assets/adimgs/patients/patient3.jpg">
                                        </span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Carl Kelly</span> send a
                                                message <span class="noti-title"> to his doctor</span></p>
                                            <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="#">View all Notifications</a>
                    </div>
                </div>
            </li>
            <!-- /Notifications -->

            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img"><img class="rounded-circle" src="assets/adimgs/profiles/avatar-01.jpg"
                            width="31" alt="Ryan Taylor"></span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="assets/adimgs/profiles/avatar-01.jpg" alt="User Image"
                                class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6>Ryan Taylor</h6>
                            <p class="text-muted mb-0">Administrator</p>
                        </div>
                    </div>
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </li>
            <!-- /User Menu -->

        </ul>
        <!-- /Header Right Menu -->

    </div>
    <!-- /Header -->

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="main-menu-wrapper sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span>Main</span>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i id="close" class="fas fa-times"></i>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/dashboard"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                    </li>
                    <li>
                        <a routerLink="/expertlist"><i class="fe fe-user"></i> <span>Experts</span></a>
                    </li>
                    <li>
                        <a routerLink="/companylist"><i class="fe fe-users"></i> <span>Companies</span></a>
                    </li>
                    <li>
                        <a routerLink="/addrequests"><i class="fe fe-user-plus"></i> <span>Requests</span></a>
                    </li>
                    <li>
                        <a routerLink="/chat">
                            <i class="fas fa-comments"></i>
                            <span>Message</span>
                            <small class="unread-msg">23</small>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/skills"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
                    </li>
                    <li>
                        <a href="javascript:(void)"><i class="fe fe-activity"></i> <span>Transactions</span></a>
                    </li>
                    <li>
                        <a routerLink="/specialties"><i class="fe fe-vector"></i> <span>Specialties</span></a>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0)"><i class="fe fe-document"></i> <span> Reports</span> <span
                                class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="javascript:void(0)">Invoice Reports</a></li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink='/expertprofile'><i class="fe fe-user-plus"></i> <span>Profile</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">

        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Welcome Admin!</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active">Dashboard</li>
                            <li class="breadcrumb-item active">Add Skills</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
            <div class="row">
                <div class="col-md-12">

                    <!-- Page Content -->
                    <div class="content">
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                                </div>

                                <div class="col-md-12col-lg-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title mb-0">Add Skills</h4>
                                        </div>
                                        <div class="card-body">

                                            <!-- Add Item -->
                                            <div class="add-more-item text-right">
                                                <a href="#"><i class="fa fa-plus-circle"></i> Add Item</a>
                                            </div>
                                            <!-- /Add Item -->

                                            <!-- Billing Item -->
                                            <div class="card card-table">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-center">
                                                            <thead>
                                                                <tr>
                                                                    <th>Title</th>
                                                                    <th></th>
                                                                    <th style="width:80px;"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <input type="text" class="form-control"
                                                                            [(ngModel)]="skillName"
                                                                            value="{{skillName}}">
                                                                    </td>
                                                                    <td>
                                                                        <!-- <a href="#" class="btn bg-danger-light trash"><i
                                                                                class="far fa-trash-alt"></i></a> -->

                                                                        <!-- <input type="text" class="form-control" value="$330"> -->
                                                                    </td>
                                                                    <td>
                                                                        <a href="#" class="btn bg-danger-light trash"><i
                                                                            class="far fa-trash-alt"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /Billing Item -->

                                            <!-- Submit Section -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="submit-section">
                                                        <button type="submit"
                                                            class="btn btn-primary submit-btn" (click)="addSkill()">Save</button>
                                                        <button type="reset" (click)="clear()"
                                                            class="btn btn-secondary submit-btn">Clear</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /Submit Section -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                                </div>

                                <div class="col-md-12col-lg-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title mb-0">Skills List</h4>
                                        </div>
                                        <div class="card-body">

                                            <!-- Billing Item -->
                                            <div class="card card-table">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-center">
                                                            <thead>
                                                                <tr>
                                                                    <th>_id</th>
                                                                    <th> Skill</th>
                                                                    <th style="width:80px;"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let skill of skillList">
                                                                    <td>
                                                                        {{skill._id}}
                                                                    </td>
                                                                    <td>
                                                                        {{skill.skill | uppercase}}
                                                                    </td>
                                                                    <td>
                                                                        <a  class="btn bg-danger-light trash" (click)="deleteSkill(skill._id)"><i
                                                                            class="far fa-trash-alt"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /Billing Item -->

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- /Page Content -->

                </div>
            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->